<div class="row my-3">
    <div class="col-md-6 text-start">
        @if (User.IsInRole("Admin"))
        {
            <a asp-action="Create" class="btn btn-primary">Add</a>
        }
    </div>
</div>

<div class="row my-3">
    @foreach (Product prd in Model)
    {
        <div class="col-md-4">
            <partial name="_ProductCard" model="@prd" />
        </div>
    }
</div>
