<div class="text-center my-5">
    <h2>Successful Login</h2>

    <p>You have successfully logged in.</p>

    <a asp-controller="Product" asp-action="Index" class="btn btn-primary">Product</a>
</div>