<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><i class="fa-solid fa-store"></i> </br></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <a class="nav-link" asp-controller="User" asp-action="Index">Employees</a>
                }
                
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="nav-link active" aria-current="page" asp-controller="Product" asp-action="Index">Products</a>
                }
            </div>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <span class="navbar-text mx-2">Welcome, @User.Identity.Name!</span>
        }
        <div class="navbar-nav ml-auto">
            @if (User.Identity.IsAuthenticated)
            {
                <form class="form-inline my-2 my-lg-0" asp-controller="Account" asp-action="Logout" method="post">
                    <button type="submit" class="btn btn-danger">Logout</button>
                </form>
            }

        </div>
        
    </div>
</nav>
