<div class="text-center my-5">
    <h1 class="display-4"><i class="fas fa-store-alt"></i> Welcome!</h1>
    <p class="lead">Explore our store and find your favorite products. Happy shopping! <i class="fas fa-shopping-bag"></i></p>
    <div>
        @if (User.Identity.IsAuthenticated)
        {
            <a href="/Product/Index" class="btn btn-primary"><i class="fas fa-shopping-cart"></i> View Product!!!!!</a>
        }
        else
        {
            <a href="/Account/Login" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i> Login</a>
            <a href="/Account/Register" class="btn btn-success"><i class="fas fa-user-plus"></i> Register</a>
        }
    </div>
</div>


